<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.we.voip.bs.acd.dao.AppDao">

    <resultMap type="com.netease.we.voip.bs.acd.entity.AppEntity" id="AppResultMap">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="app_name" property="appName" />
        <result column="callback_url" property="callbackUrl" />
        <result column="status" property="status" />
        <result column="db_update_time" property="dbUpdateTime" />
        <result column="db_create_time" property="dbCreateTime" />
    </resultMap>

    <sql id="appColumns">
        app_id, app_name, callback_url, status, db_update_time, db_create_time
    </sql>

    <insert id="createApp" parameterType="com.netease.we.voip.bs.acd.entity.AppEntity"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO voip_acd_app
        (<include refid="appColumns"/>)
        VALUES
        (#{appId},#{appName},#{callbackUrl},#{status},
        <choose>
            <when test="dbUpdateTime!=null">#{dbUpdateTime}</when>
            <when test="dbUpdateTime==null">''</when>
        </choose>
        ,
        <choose>
            <when test="dbCreateTime!=null">#{dbCreateTime}</when>
            <when test="dbCreateTime==null">''</when>
        </choose>
        )
    </insert>

    <delete id="deleteAppByAppId">
        DELETE
        FROM voip_acd_app
        WHERE app_id=#{appId}
    </delete>

    <update id="updateApp">
        update voip_acd_app
        <set>
            <if test="appName!=null">`app_name`=#{appName},</if>
            <if test="callbackUrl!=null">`callback_url`=#{callbackUrl},</if>
            <if test="status!=null">`status`=#{status},</if>
            <if test="dbUpdateTime!=null">`db_update_time`=#{dbUpdateTime}</if>
        </set>
        WHERE app_id = #{appId} and id = #{id}
    </update>

    <select id="queryApp" resultMap="AppResultMap">
        select id,
        <include refid="appColumns"/>
        from voip_acd_app
        ORDER BY `db_update_time` DESC LIMIT #{limit} OFFSET #{offset};
    </select>

</mapper>